<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!item">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Enrollment details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h4 *ngIf="item.logs.length==0" ion-text text-center color="danger"><ion-icon name="warning"></ion-icon> No logs yet!</h4>

  <ion-card>
    <ion-card-header text-center color="primary">
      Logs
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>    
  </ion-card>

  <ion-card>
      <ion-card-header text-center color="primary">
          Details
      </ion-card-header>
      <ion-card-content>
        <ion-item>
            <ion-icon name="clipboard" item-start></ion-icon>
            Lectures delivered
            <ion-badge color="primary" item-end>{{item.lecturesActualNum}}</ion-badge>            
        </ion-item>
        <ion-item>
            <ion-icon name="checkmark-circle-outline" item-start></ion-icon>
            Attendances logged
            <ion-badge color="primary" item-end>{{item.logs.length}}</ion-badge>            
        </ion-item>
        <ion-item>
            <ion-icon name="close" item-start></ion-icon>
            Absences
            <ion-badge color="danger" item-end>{{item.lecturesActualNum - item.logs.length}}</ion-badge>
        </ion-item>
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center color="primary">
      Info
    </ion-card-header>
    <ion-card-content>
        <ion-grid *ngIf="item">
            <ion-row>
                <ion-col>
                  Course name
                </ion-col>
                <ion-col>
                  {{item.courseName}}
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Start date
              </ion-col>
              <ion-col>
                {{item.startDate}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                End date
              </ion-col>
              <ion-col>
                {{item.endDate}}
              </ion-col>
            </ion-row>      
        </ion-grid>        
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="item.logs.length!=0">
    <ion-card-header text-center color="primary">Attendances List</ion-card-header>
    <ion-card-content>
        <ion-grid *ngFor="let log of item.logs;" color="primary">
          <ion-row>
            <ion-col col-2>
              {{log.index}}
            </ion-col>
            <ion-col>
              {{log.date}}
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>    
  </ion-card>

</ion-content>
