<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!item">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Enrollment details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="item">
      <ion-row>
          <ion-col>
            Course name
          </ion-col>
          <ion-col>
            {{item.courseName}}
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Start date
        </ion-col>
        <ion-col>
          {{item.startDate}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          End date
        </ion-col>
        <ion-col>
          {{item.endDate}}
        </ion-col>
      </ion-row>      
  </ion-grid>
  <ion-grid *ngFor="let log of item.logs;let i = index">
    <ion-row>
      <ion-col>
        {{i}}
      </ion-col>
      <ion-col>
        {{log.date}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
